modules/header.pug
style
  include ../../public/css/modules/header.css
header.header
  .logo  
    a(href='/')
      img(src='./public/img/logo.webp', alt='Metida' class="logoImg")   
    //- <h3> Ты зашел под ником #{authorised} </h3>
  form.regSection 
  
    a#signIn(href='/signIn') Войти
    a#register(href='/register') Регистрация
    a#logout(href='/logout') Выйти
    a#home(href='/home') Профиль
    a#createArticle(href='/createArticle') Написать
hr
//-  ну ***** тут каша 