modules/header.pug
style
  include ../../public/css/modules/header.css
header.header
  .logo  
    a(href='/')
      img(src='/public/img/logo.webp', alt='Metida' class="logoImg")   
  form.regSection 
  
    if authorised 
      a#createArticle(href='/createArticle') Написать
      a#home(href='/home') Профиль
      a#logout(href='/logout') Выйти
    else
      a#signIn(href='/signIn') Войти
      a#register(href='/register') Регистрация
hr