modules/header.pug
//- link(rel='icon', href='./favicon.ico', type='image/x-icon')
style
  include ../../public/css/modules/header.css
header.header
  .logo
    img(src='#', alt='outOfImage')
  form.regSection
    a(href='/login') &Vcy;&ocy;&jcy;&tcy;&icy;
    a(href='/signIn') &Rcy;&iecy;&gcy;&icy;&scy;&tcy;&rcy;&acy;&tscy;&icy;&yacy;
hr
