style
  include ../../public/css/modules/header.css

//link(rel="stylesheet", href="../../public/css/modules/header.css")

header.header
  .logo  
    a(href='/')
      img(src="/public/img/logo.png" alt='Metida' class="logoImg" ismap)   
  .regSection 
    //- .string_search
      input#search__string(type="text")
    nav
      ul.topmenu
        li
          img.icon(src='/public/img/mobile_menu.png')
          ul.submenu
            if authorised 
              li
                a#createArticle(href='/createArticle') Написать
              li
                a#home(href='/home') Профиль
              li
                a#logout(href='/logout') Выйти
            else
              li
                a#signIn(href='/sign_In') Войти
              li
                a#register(href='/register') Регистрация
    //- span.emailIsntConfirmed(aria-live="polite")
      button(class="confirmEmail") Подтвердить

hr

