modules/header.pug
style
  link(rel="shortcut icon", href="%PUBLIC_URL%/favicon.ico")
  include ../../public/css/header.css
header.header
  .logo
    img(src='#', alt='outOfImage')
  form.regSection
    a(href='/login') &Vcy;&ocy;&jcy;&tcy;&icy;
    a(href='/signIn') &Rcy;&iecy;&gcy;&icy;&scy;&tcy;&rcy;&acy;&tscy;&icy;&yacy;
hr
