style
  include ../../public/css/modules/header.css

//link(rel="stylesheet", href="../../public/css/modules/header.css")

header.header
  .logo  
    a(href='/')
      img(src="/public/img/logo.png" alt='Metida' class="logoImg" ismap)   
  form.regSection 
  
    if authorised 
      a#createArticle(href='/createArticle')
        span.btn_text Написать
        img.icon(src="/public/img/create_article_white_icon.png")
      a#home(href='/home') Профиль
      a#logout(href='/logout') Выйти
    else
      a#signIn(href='/sign_In') Войти
      a#register(href='/register') Регистрация
hr