modules/header.pug
style
  include ../../public/css/modules/header.css
header.header
  .logo  
    <a href="/"> <img src='#', alt='Metida'>  </a>
    //- <h3> Ты зашел под ником #{authorised} </h3>
  form.regSection
    a#signIn(href='/signIn') Войти
    a#register(href='/register') Регистрация
hr
