style
  include ../../public/css/modules/header.css

//link(rel="stylesheet", href="../../public/css/modules/header.css")

header.header
  .logo  
    a(href='/')
      img(src="/public/img/logo.png" alt='Metida' class="logoImg" ismap)   
  form.regSection 
  
    if authorised 
      a#createArticle(href='/createArticle') Написать
      a#home(href='/home') Профиль
      a#logout(href='/logout') Выйти
      nav
          ul.topmenu
            li
              img.icon(src='/public/img/mobile_menu.png')
              ul.submenu
                li
                 a(href='/createArticle') Написать
                li
                 a(href='/home') Профиль
                li
                  a(href='/logout') Выйти
    else
      a#signIn(href='/sign_In') Войти
      a#register(href='/register') Регистрация
      nav
          ul.topmenu
            li
              img.icon(src='/public/img/mobile_menu.png')
              ul.submenu
                li
                 a(href='/sign_In') Войти
                li
                 a(href='/register') Регистрация
hr

