link(rel="stylesheet", href="/public/css/modules/header.css")
link(rel="stylesheet", href="/public/css/modules/colors.css")

script(src="/public/js/burger.js" defer)

header.header
  .header_inner.flex.space_between_inner
    .logo  
      a(href='/')
        img(src="/public/img/logo.png" alt='Metida' class="logoImg" ismap)   
    .regSection 
      nav
        ul.topmenu
          li
            img#burger.icon(src='/public/img/mobile_menu.png')
            ul#submenu.submenu
              if authorised 
                li
                  a.BlackButton#createArticle(href='/createArticle') Написать
                li
                  a.BlackButton#home(href='/home') Профиль
                li
                  a.GreyButton#logout(href='/logout') Выйти
              else
                li
                  a.GreyButton#signIn(href='/sign_In') Войти
                li
                  a.BlackButton#register(href='/register') Регистрация
  hr

