link(rel="preconnect", href="fonts.googleapis.com")
<!-- Chrome, Firefox OS and Opera -->
meta(name="theme-color", content="#393939")
<!-- Windows Phone -->
<meta name="msapplication-navbutton-color" content="#f7f7f7">
<!-- iOS Safari -->
<meta name="apple-mobile-web-app-status-bar-style" content="#f7f7f7">
<!-- json manifest -->
<link rel="manifest" href="/public/json/manifest.json">

<link rel="shortcut icon" href="/public/img/app_icon/logo64.png">

script.
    if ('serviceWorker' in navigator) {
        window.addEventListener('load', async () => {
            try {
                const reg = await navigator.serviceWorker.register('/public/js/service_worker.js')
                console.log('Service worker registered.\n', reg);
            } catch (err) {
                console.log('лежи + соси, воркер не зарегался');
                console.log(err.message);
            }
        });
    }