<!-- Chrome, Firefox OS and Opera -->
meta(name="theme-color", content="#393939")
<!-- Windows Phone -->
<meta name="msapplication-navbutton-color" content="#f7f7f7">
<!-- iOS Safari -->
<meta name="apple-mobile-web-app-status-bar-style" content="#f7f7f7">
<!-- json manifest -->
<link rel="manifest" href="public/json/manifest.json">

<link rel="shortcut icon" href="/public/img/app_icon/logo64.png">

<!-- google auth -->
<meta name="google-signin-scope" content="profile email">
<meta name="google-signin-client_id" content="297808610716-d3tfkjmtcub79kbn9vio640u23hcpenv.apps.googleusercontent.com">
<script src="https://apis.google.com/js/platform.js" async defer></script>

script.
    if ('serviceWorker' in navigator) {
        window.addEventListener('load', async () => {
            try {
                const reg = await navigator.serviceWorker.register('/public/js/service_worker.js')
                console.log('Service worker registered.\n', reg);
            } catch (err) {
                console.log('лежи + соси, воркер не зарегался');
                console.log(err.message);
            }
        });
    }