<!-- Chrome, Firefox OS and Opera -->
meta(name="theme-color", content="#393939")
<!-- Windows Phone -->
<meta name="msapplication-navbutton-color" content="#f7f7f7">
<!-- iOS Safari -->
<meta name="apple-mobile-web-app-status-bar-style" content="#f7f7f7">
<!-- json manifest -->
<link rel="manifest" href="public/json/manifest.json">