@import "colors";

.mainButton {
  font-size: 14px;
  border: 0.5px solid grey;
  padding: 7px 10px;
  font-family: 'Montserrat', 'Cabin', sans-serif;
  color: black;
  background-color: transparent;

}

.mainButton:hover {
  color: black !important;
  background-color: $ccc-color;
  transition: 0.3s;
}

