$main-metida-color: hsl(0, 0%, 97%);
$main-back-color: hsl(0, 0%, 20%);
$ccc-color: hsl(0, 0%, 80%);
$unique-color: hsl(321, 37.5%, 28.2%);
$smoke-color: whitesmoke;
$comments-left-border-color: hsl(0, 0%, 83%);
$buttom-active: hsla(321, 38%, 28%, 0.5);
$url-color: hsl(265, 61.3%, 42.5%);
$text-color: black;
$main-bord-color: hsl(0, 0%, 85%);
$buttom-hover: hsla(321, 38%, 28%, 0.75);
$main-hover-color: blue;
