doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  title Create Article
  style
    include ../public/css/style.css
    include ../public/css/create_article.css
    include ../public/css/layout_body.css
    
body
  include modules/header 
  script(type='text/javascript' src='../public/js/ckeditor/ckeditor.js')


  .layout_body
    form.pushArticle(action="/createArticle", method="post")
    h3 Заголовок
    <input type="text" name="header" value=""  />
    .description Заголовок должен быть наполнен смыслом, чтобы можно было понять, о чем будет публикация.
    #editor
    script.
        CKEDITOR.replace("editor")  
    input#submit(type="submit" value="OK")
//- я хз, в скомпиленном html все норм
        
