doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  title registration
  style
    include ../public/css/style.css
  
body
  include modules/header 

  <textarea class="createArticle" name="text", cols="30", rows="7"> </textarea>



