doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  title registration
  style
    include ../public/css/style.css
    include ../public/css/create_article.css
    include ../public/css/layout_body.css
    include ../public/css/content.css
  script(src="../../../public/js/article_page.js")

body
  include modules/header 

  .layout_body
    form.pushArticle(action="/createArticle", method="post")
      <h3>Заголовок:</h3>
      <input type="text" id="header" name="header" value="" minlength="5" />
      <div class="description">Заголовок должен быть наполнен смыслом, чтобы можно было понять, о чем будет публикация.</div>
      label
        input(type="checkbox" id="previews")
        | Предпросмотр
      <textarea class="create_area" id="article" name="art" cols="30", rows="7" minlength="10"> </textarea>
      input#submit(type="submit" class="Btn" value="OK")
    content.content
      article.post_text

