doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  title Создание статьи
  include modules/meta
  link(rel="stylesheet", href="/public/css/content.css")
  link(rel="stylesheet", href="/public/css/layout_body.css")
  link(rel="stylesheet", href="/public/css/create_article.css")
  link(rel="stylesheet", href="/public/css/main.css")
  link(rel="stylesheet", href="/public/css/modules/colors.css")
  link(rel="stylesheet", href="/public/css/placeholder.css")
  link(rel="stylesheet", href="/public/css/modules/errors.css") 

  //-- TODO: need preload markdownit parser
  script(src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/8.4.2/markdown-it.min.js")
  script(type="module", src="/public/js/article_page.js")
  <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML" async></script>
body
  include modules/header 
  .layout_body
    content.content
      form.pushArticle(action="/createArticle", method="post")
        <h3>Заголовок:</h3>
        <input type="text" id="header" name="header" placeholder="Заголовок должен передавать основной смысл публикации." value="" minlength="5" />
        <span class="headerError" aria-live="polite"></span> 
        <h3>Дисклеймер:</h3>
        <textarea class="disclaimer" id="disclaimer" placeholder="Здесь приводится краткое описание статьи." name="disclaimer" cols="30", rows="7" minlength="10"></textarea>
        <span class="disclaimerError" aria-live="polite"></span> 
        label
          input(type="checkbox" id="previews")
          | Предпросмотр
        <textarea class="create_area" id="article" placeholder="Текст вашей статьи..." name="art" cols="30", rows="7" minlength="10"></textarea>
        <span class="contentError" aria-live="polite"></span> 
        button#submit(type="submit" class="Btn") Отправить
      article.post_text
