doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  title Create Article
  style
    include ../public/css/style.css
    include ../public/css/create_article.css
    include ../public/css/layout_body.css
    include ../public/css/content.css
  script(src="../../../public/js/article_page.js")

body
  include modules/header 
  script(type='text/javascript' src='../public/js/ckeditor/ckeditor.js')


  .layout_body
    form.pushArticle(action="/createArticle", method="post")
      <h3>Заголовок:</h3>
      <input type="text" id="header" name="header" placeholder="Заголовок должен передавать основной смысл публикации." value="" minlength="5" />
      //- <div class="description">Заголовок должен передавать основной смысл публикации.</div>
      <h3>Дисклеймер:</h3>
      <textarea class="disclaimer" id="disclaimer" placeholder="Здесь приводится краткое описание статьи." name="disclaimer" cols="30", rows="7" minlength="10"></textarea>
      //- <div class="description">Здесь приводится краткое описание статьи.</div> 

      label
        input(type="checkbox" id="previews")
        | Предпросмотр
      <textarea class="create_area" id="article" placeholder="Текст вашей статьи..." name="art" cols="30", rows="7" minlength="10"></textarea>
      input#submit(type="submit" class="Btn" value="Отправить")
    content.content
      article.post_text
    //- #editor 
    //- script 
    //-     CKEDITOR.replace("editor")