doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  title Создание статьи
  link(rel="stylesheet", href="/public/css/content.css")
  link(rel="stylesheet", href="/public/css/layout_body.css")
  link(rel="stylesheet", href="/public/css/create_article.css")
  link(rel="stylesheet", href="/public/css/style.css")

  script(src="/public/js/article_page.js")
  <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML" async></script>
body
  include modules/header 
  script(type='text/javascript' src='/public/js/ckeditor/ckeditor.js')


  .layout_body
    form.pushArticle(action="/createArticle", method="post")
      <h3>Заголовок:</h3>
      <input type="text" id="header" name="header" placeholder="Заголовок должен передавать основной смысл публикации." value="" minlength="5" />
      <h3>Дисклеймер:</h3>
      <textarea class="disclaimer" id="disclaimer" placeholder="Здесь приводится краткое описание статьи." name="disclaimer" cols="30", rows="7" minlength="10"></textarea>

      label
        input(type="checkbox" id="previews")
        | Предпросмотр
      <textarea class="create_area" id="article" placeholder="Текст вашей статьи..." name="art" cols="30", rows="7" minlength="10">  When \(a \ne 0\), there are two solutions to \(ax^2 + bx + c = 0\) and they are $$x = {-b \pm \sqrt{b^2-4ac} \over 2a}.$$ </textarea>
      input#submit(type="submit" class="Btn" value="Отправить")
    content.content
      article.post_text
    //- #editor 
    //- script 
    //-     CKEDITOR.replace("editor")