doctype html
head
    meta(charset='UTF-8')
body
  
    <p> Поздравляем с регистрацией на Metida.tech, для окончания регистрации нажмите на кнопку </p> 
    url = "https://metida.herokuapp.com/emailConfirmed" + #{email}
    a(href=url)