doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  title Metida
  style
    include ../public/css/style.css
    include ../public/css/layout_body.css
    include ../public/css/content.css
  script
    include ../public/js/lenta.js
    

include modules/header 

.layout_body
  content.content
    .lenta
      h1 Умная лента
        
        
