doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  title metida
  style
    include ../public/css/style.css
    include ../public/css/layout_body.css
    include ../public/css/content.css
  script
    include ../public/js/highlighter.js
    

include modules/header 

.layout_body
  content.content
    //- var countOfArticles;
    - for (var i=0; i<countOfArticles; i++)
        h3 !{header} 
        //хотя тут мы вроде должны ссать на разметку юзеру, но все таки поставлю !
        | !{disclaimer}
        
        
