doctype html
html
    head
    meta(charser='utf-8')
    meta(name='viewport', content="initial-scale=1.0, width=device-width")
    title metida
    body
        h1 test pug
        p Welcome to #{title}
