doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  title #{name}

  link(rel="stylesheet", href="/public/css/style.css")
  link(rel="stylesheet", href="/public/css/layout_body.css")
  link(rel="stylesheet", href="/public/css/content.css")
  link(rel="stylesheet", href="/public/css/post.css")
  link(rel="stylesheet", href="/public/css/comment.css")
  
  script(type='text/javascript', src='/public/js/highlighter.js')
  script(type='text/javascript', src='/public/js/comment.js')
  script(type='text/javascript', src='/public/js/post.js')
body
    include modules/header 

    .layout_body
      content.content
        article.post_text(id=id)
          button(class="deleteAricleLink" ) Удалить статью
          button(class="updateAricleLink") Редактировать статью
          button(class="likeBtn" ) Иконка лукаса
          button(class="dislikeBtn") Иконка дизлукаса

          h1 #{name}
          !=text
        .comments_lenta.lenta
          h3 Комментарии:
        .new_comment
          if authorised 
            h3 Оставить комментарий
            div.comment
              textarea#comment(name="comment", placeholder  = "Комментарий...",  required='required', pattern='.{6,}')
              <span class="commentError" aria-live="polite"></span>
              .button
                button(id="enter", value = "Отправить") Отправить
                input(type="button", id="veiw", value = "Предпросмотр")
          else
            p Зарегистрируйся, если хочешь оставить коммент
            