doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
<<<<<<< HEAD
  title Статья #{name}
=======
  title #{name}
>>>>>>> cac8b81f1edf285af1f0dd48f7ed666b6ab9f455

  link(rel="stylesheet", href="../public/css/style.css")
  link(rel="stylesheet", href="../public/css/layout_body.css")
  link(rel="stylesheet", href="../public/css/content.css")
  link(rel="stylesheet", href="../public/css/post.css")
  link(rel="stylesheet", href="../public/css/comment.css")
  
<<<<<<< HEAD
  script(type='text/javascript', src='../public/js/comment.js')
  script(type='text/javascript', src='../public/js/highlighter.js')
=======
  script(type='text/javascript', src='../public/js/highlighter.js')
  script(type='text/javascript', src='../public/js/comment.js')
>>>>>>> cac8b81f1edf285af1f0dd48f7ed666b6ab9f455

body
    include modules/header 

    .layout_body
      content.content
        article.post_text(id=id)
          h1 #{name}
          !=text
        .comments_lenta.lenta
          h3 Комментарии:
        .new_comment
          if authorised 
            h3 Оставить комментарий
            form(action="/post/" + id + "/pushComment", method="post" novalidate)
              textarea#comment(name="comment", placeholder  = "Комментарий...",  required='required', pattern='.{10,}')
              <span class="commentError" aria-live="polite"></span>
              .button
                input(type="submit", id="enter", value = "Отправить")
                input(type="button", id="veiw", value = "Предпросмотр")
          else
            p Зарегистрируйся, если хочешь оставить коммент
            