doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  title #{name}
  

  link(rel="stylesheet", href="/public/css/style.css")
  link(rel="stylesheet", href="/public/css/layout_body.css")
  link(rel="stylesheet", href="/public/css/content.css")
  link(rel="stylesheet", href="/public/css/post.css")
  link(rel="stylesheet", href="/public/css/comment.css")
  link(rel="stylesheet", href="/public/css/lenta.css")
  link(rel="stylesheet", href="/public/css/media.css")
  link(rel="stylesheet", href="/public/css/colors.css")
  link(rel="stylesheet", href="/public/css/placeholder.css")
  
  script(type='module', src='/public/js/highlight.js', defer)
  script(type='module', src='/public/js/comment.js')
  script(type='module', src='/public/js/post.js')
body
    include modules/header 

    .layout_body
      content.content
        button(class="deleteAricleLink" ) Удалить статью
        button(class="updateAricleLink") Редактировать статью
        article.post_text(id=id)

          h1 #{name}
          !=disclaimer
          !=text
        .comments_lenta.lenta
          h3 Комментарии:
        .new_comment_block
          if authorised 
            h3 Оставить комментарий
            div.comment
              textarea.comment_area(name="comment", placeholder  = "Комментарий...",  required='required', pattern='.{6,}')
              <span class="commentError" aria-live="polite"></span>
              .button_block
                button.EnterButton(value = "Отправить") Отправить
                input(type="button", id="veiw", value = "Предпросмотр")
          else
            p Зарегистрируйся, если хочешь оставить коммент
            