doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  title metida
  style
    include ../public/css/style.css
    include ../public/css/layout_body.css
    include ../public/css/content.css
    include ../public/css/post.css
    include ../public/css/comment.css
  script
    include ../public/js/highlighter.js
    include ../public/js/comment.js
    

body
    include modules/header 

    .layout_body
      content.content
        article.post_text(id=id)
          h1 #{name}
          p.text !{text}
          .comments_lenta 
            h3 Комментарии:
          .new_comment
            if authorised 
                h3 Оставь коммент
                form(action="/post/" + id + "/pushComment", method="post" novalidate)
                    textarea#comment(name="comment", cols="30", rows="10", required='required', pattern='.{10,}')
                    input(type="submit")
                    p <span class="commentError" aria-live="polite"></span>
            else
                p Зарегистрируйся, если хочешь оставить коммент
            