doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  <meta name="referrer" content="none">
  title Регистрация
  include modules/meta
  link(rel="stylesheet", href="/public/css/main.css")
  link(rel="stylesheet", href="/public/css/modules/input.css")

  script(type='module', src='/public/js/register_validator.js')

body
  include modules/header 


  .inputForm
    div.reg(name="register")
      p Email
      input#email(type='email', name='email', placeholder='Type email', required='required', pattern='.+@.+\\..+')
      <span id="emailError" aria-live="polite"></span>
      .message #{message}
      p Login
      input#login(type='login', name='login', placeholder='Type login', required='required', pattern='^\\w{3,20}$')
      <span id="loginError" aria-live="polite"></span>
      p Password
      input#password(type='password', name='password', placeholder='Type password', required='required', pattern='.{5,50}')
      <span id="passwordError" aria-live="polite"></span>
      p Retype password
      input#repassword(type="password" name='repassword', placeholder="Retype password" required )
      <span id="repasswordError" aria-live="polite"></span>
      button#submit(type="submit" class="welcome") Зарегистрироваться
      <span id="serverError" aria-live="polite"></span>

      button#googleAuth(type="submit" class="auth") <img src="/public/img/external_auth/220google.png" alt="")/>
      <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>

      - function onSignIn(googleUser) {
      -  // Useful data for your client-side scripts:
      -  var profile = googleUser.getBasicProfile();
      -  console.log("ID: " + profile.getId()); // Don't send this directly to your server!
      -  console.log('Full Name: ' + profile.getName());
      -  console.log('Given Name: ' + profile.getGivenName());
      -  console.log('Family Name: ' + profile.getFamilyName());
      -  console.log("Image URL: " + profile.getImageUrl());
      -  console.log("Email: " + profile.getEmail());

      -  // The ID token you need to pass to your backend:
      -  var id_token = googleUser.getAuthResponse().id_token;
      -  console.log("ID Token: " + id_token);
      -  }