doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  title signin
  style
    include ../public/css/style.css
    include ../public/css/input.css
  script
    include ../public/js/script.js

body
  include modules/header 
  .inputForm 
    form.reg(action="/signin", method="post" novalidate)
      p Email
      input#email(type='email', name='email', placeholder='Type email',  pattern='^.+@.*$')
      p Password
      input#password(type='password', name='password', placeholder='Type password',  pattern='.{5,}')
      input#submit(type="submit" value="OK")



