doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  title registration
  style
    include ../public/css/style.css
    include ../public/css/input.css
  
body
  include modules/header 
  //- охуеть так можно да
  input(type="email" placeholder="Type email" required pattern="^.+@.*$") 
  input(type="password" placeholder="Type password" required pattern=".{5,}")
  input(type="password" placeholder="Retype password" required )

  button.submit(href="/createUser")

