doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  title Авторизация
  
  link(rel="stylesheet", href="../public/css/style.css")
  link(rel="stylesheet", href="../public/css/input.css")
  script(type='text/javascript', src='../public/js/signin_validator.js')


body
  include modules/header 
  .inputForm 
    form.reg(action="/sign_In", method="post" novalidate)
      p Email
      input#email(type='email', name='email', placeholder='Type email',  required='required', pattern='.+@.+')
      <span class="emailError" aria-live="polite"></span>
      p Password
      input#password(type='password', name='password', placeholder='Type password', required='required', pattern='.{5,}')
      <span class="passwordError" aria-live="polite"></span>
      input#submit(type="submit" value="Enter")

