doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  <meta name="referrer" content="none">
  title Авторизация
  
  link(rel="stylesheet", href="/public/css/style.css")
  link(rel="stylesheet", href="/public/css/modules/input.css")
  link(rel="stylesheet", href="/public/css/colors.css")
  link(rel="stylesheet", href="/public/css/placeholder.css")
  
  script(type='module', src='/public/js/signin_validator.js')

body
  include modules/header 
  .inputForm 
    div.reg
      p Email
      input#email(type='email', name='email', placeholder='Type email',  required='required', pattern='.+@.+\\..+')
      <span id="emailError" aria-live="polite"></span>
      p Password
      input#password(type='password', name='password', placeholder='Type password', required='required', pattern='.{5,}')
      <span id="passwordError" aria-live="polite"></span>
      button#submit(class="welcome") Войти
      <span id="serverError" aria-live="polite"></span>


