doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  title registration
  style
    include ../public/css/style.css
    include ../public/css/input.css
  
body
  include modules/header 
  //- охуеть так можно да
  .login 
    input(type="email" placeholder="Type email" required pattern="^.+@.*$") 
    //- .match No match
    input(type="login" placeholder="Type login" required pattern="^.+@.*$") 
    //- .match No match
    input(type="password" placeholder="Type password" required pattern=".{5,}")
    //- .match No match
    input(type="password" placeholder="Retype password" required )
    //- .match No match
    a(href="/signIn/createUser") Submit

