.new_comment_block {
    width: 100%
}

.new_comment_block .comment {
    display: flex;
    flex-direction: column;
}

.new_comment_block .comment * {
    margin-block-end: 10px
}

.comment_childer {
    padding-left: 25px;
    border-left: solid 1px var(--comments-left-border-color);
}

.comment_control[data-type=create]::after {
    /* width: 100px; */
    content: "ответить";
}

.comment_control[data-type=cancel]::after {
    /* width: 100px; */
    content: "отмена";
}

.comment_control {
    margin-block-end: 5px
}

.comment {
    position: relative;
    margin-bottom: 20px;
    width: 100%
}

.comment_text img {
    max-width: 500px;
    max-height: 500px;
}



.comment_area {
    outline: none;
    resize: none;
    border: 1px solid var(--main-bord-color);
    width: 100%;
    min-height: 170px
}

.comment_area:focus{
    border-color: var(--unique-color);
}

.button_block {
    display: flex;
    justify-content: space-between;
    font-family: 'Lato', sans-serif;
}

#veiw{
    outline: none;
    height: 30px;
    width: 150px;
    margin-left: 10px;
    border: 1px;
    border-style: solid;
    border-color:black;
    background-color: var(--main-metida-color);
    transition: 0.5s;
}

.EnterButton {
    outline: none;
    height: 30px;
    width: 150px;
    margin-right: 10px;
    border: 3px;
    border-style: double;
    background-color: var(--unique-color);
    color: var(--main-metida-color);
    transition: 0.5s;
}

#veiw:active{
    background-color: var(--buttom-active);
}

.EnterButton:active{
    background-color: var(--buttom-active);
}

.reply {
    /* display: block; */
    /* position: absolute; */
    /* line-height: 2; */
    font-weight: bold;
    /* margin-left: 68%;
    margin-top: 0; */
    text-align: center;
    /* font-size: 12px; */
    text-decoration: none;
    color: white;
    background-color: var(--unique-color);
    padding: 4px;
    outline: none;
    border: 0;
}

.comment_text img {
    max-height: 500px;
    width: 500px;
    max-width: 100%;
}

@media screen and (max-width: 650px) {
    .new_comment_block form textarea {
        min-width: 300px;
    }

    .comment_childer {
        padding-left: 15px; 
    }

}

@media (hover:hover) { 

    .comment_area:hover{
        border-color: var(--main-hover-color);
    }

    .Btn:hover{
        background-color: var(--buttom-hover);
        transition: 0.5s;
    }

    #veiw:hover{
        background-color: var(--buttom-hover);
        color: var(--main-metida-color);
        transition: 0.5s;
    }

    .reply:hover {
        background-color: black;
        transition: 0.5s;
    }

    .EnterButton:hover{
        background-color: var(--buttom-hover);
        transition: 0.5s;
    }

}