.content {
    display: flex;
    justify-content: center;
    float: left;
    flex-direction: column;
    align-items: center;
    width: 45%;
}

.content .post_text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content .lenta {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content code {
    background-color: #2e2f30;
    color: white;
    padding-left: 10px;
    margin-left: 100px;
    width: 500px;
    border-radius: 3px;

    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 650px) {
    .content {
        width: 94%
    }
}
