.pushArticle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pushArticle * {
    margin-bottom: 20px;
}

.create_area {
    padding: 20px 20px 0;
    min-height: 500px !important;
    min-width: 30vw;
    max-width: 60vw;
}

.description {
    margin-top: 5px;
    color: #7f428cb0;
    font-size: 15px;
    line-height: 15px;
}

input[type='text'] {
    margin: 0;
    padding: 0 10px;
    width: 30vw;
    height: 34px;
    border: 1px solid #d9d9d9;
    color: #3b3b3b;
    font-size: 15px;
    line-height: 34px;
}


@media screen and (max-width: 650px) {
    form * {
        width: 95%;
        max-width: 95%
    }
}