.inputForm {
    align-content: center;
}

.reg {
    display: flex;
    flex-direction: column;
    height: 3vh;
    width: 25vh;
    justify-content: space-between;
}

input {
    display: flex;
    padding: 5px 5px 5px 2px;

    margin-left: 1rem;
}

input:invalid {
    border: 1px solid red;
}
  
input:valid {
    border: 1px solid black;
}

p {
    margin-left: 1rem;
}

#submit {
    margin-top: 1rem;
}

