.post {
    border-top: 2px solid grey;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center
}

.lenta {
    max-width: 100%;
}

.post a {
    font-size: 20px;
    text-decoration: none;
    color: black;
    word-break: break-all;
    line-height: 30px;
}

.post a:hover {
    color: steelblue;
}

.post p {
    font-size: 18px;
    line-height: 30px;
    word-break: break-all;
}

@media screen and (max-width: 650px) {
    .lenta {
        width: 100%;
    }
}