@import url('https://fonts.googleapis.com/css?family=Montserrat');


h1 { 
    font-family: 'Montserrat', sans-serif;
}

p {
    font-size: 16px; 
    color: #333;
    font-family: 'Montserrat', sans-serif; 
    line-height: 24px;
}