@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Cabin');

body {
    background: #f7f7f7;
    margin: 0;
}

a {
    text-decoration: none;
}

.rightSection {
    margin-left: 20px;
    height: 100vh;
    width: 25vh;
    float: right;
    font-family: 'Cabin', sans-serif;
}
