@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');

body {
    background: rgb(255, 255, 225);
    margin: 0;  
}
a { 
    text-decoration: none;
}

.layout_body {
    background: rgb(25, 255, 225);
    width: 65%;
    float: left;/* sorry for this */
}

.rightSection {
    background: rgb(251, 25, 225);
    height: 100vh;
}

.layout_bar {
    display: flex;
    /* align-content: space-between; */
}