@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Cabin');

body {
    background: var(--main-metida-color);
    word-wrap: break-word;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--url-color);
}

pre {
    word-wrap: break-word;
}

img {
    max-width: 100%;
    height: auto;
    border: 10px black;
    border-radius: 15px; /* хз может убрать */
}

.rightSection {
    margin-left: 20px;
    height: 100vh;
    width: 25vh;
    float: right;
    font-family: 'Cabin', sans-serif;
}

button {
    border-style: none;
    padding: 0.3em 1em
}