body {
    background: rgb(237, 232, 235);
}

html {
    font-family: serif;
    font-size: 20px!important;
}

.layout_body {
    display: flex;
    justify-content: center;
}

.post_text {
    display: flex;
    align-content: center;
    flex-direction: column;
    background: whitesmoke;
    border-radius: 4px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    margin: 15px 0 0;
    max-width: 50vw;
}

.post_text img {
    align-self: center;
    max-width: 50vw;
}

.post_text p {
    padding-left: 20px;
    padding-right: 20px;
}

.post_text * {
    padding-top: 30px;
}


.layout_bar {
    width: 100%;
    padding: 13px 0px;
    display: flex;
}