doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  include modules/meta
  title Metida
  link(rel="stylesheet", href="/public/css/main.css")
  link(rel="stylesheet", href="/public/css/lenta.css")

include modules/header

.layout_body
  content.content
    h1 Есть интернет? А если найду?
        
