#burger {
    height: 3rem;
}

summary {
    outline: none;
    cursor: pointer;
}

.not_details_marker::-webkit-details-marker {
    display: none
}

@media screen and (max-width: 1320px) {
    .dropdown-menu {
        right: 5px
    }
}

@media screen and (max-width: 1029px) {
    img.logo {
        padding-left: 5px;
    }
}
.dropdown-menu {
    padding-bottom: 5px;
    padding-top: 5px;
    border: 1px solid rgba(27,31,35,.15);
    border-radius: 4px;
    box-shadow: 0 3px 12px rgba(27,31,35,.15);
    width: auto;
    min-width: 10rem;
    z-index: 100;

    background-clip: padding-box;
    background-color: #fff;
    list-style: none;
    position: absolute;
}

.dropdown_item {
    color: #24292e;
    display: block;
    overflow: hidden;
    padding: 4px 10px 4px 16px;
    text-overflow: ellipsis;
    white-space: nowrap;

    background: none;
    border: 0;
    font-size: .875rem;
    outline: none;

    width: 100%;
    text-align: left;
    cursor: pointer;
}
