.error {
    width  : 95%;
    padding: 0;
   
    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;
   
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
  
.error.active {
    padding: 0.3em;
}