a {
    text-decoration: none;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}

.header {
    display: flex;
    align-content: space-between;
    font-family: 'Cabin', sans-serif;
    font-size: 26px;
    margin-left: 1vh;
    height: 4rem;  /* на большом монике все портится */
}

img.logoImg {
    height: 3rem; /* ы */
    padding: 7px 0px 0px 9px;
}

.regSection {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.regSection a {
    margin-right: 0.5rem;
    display: inline-block;
    font-family: arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    user-select: none;
    padding: 0.3em 1.2em;
    outline: none;
    border-radius: 3px;
    transition: all 0.218s ease 0s;
}

.regSection #register, #home, #createArticle  {
    background-color: #333;
    color: whitesmoke;
}

.regSection #signIn, #logout {
    background-color: #ccc;
    color: black;
}

.regSection #register:hover, #signIn:hover, #logout:hover, #home:hover, #createArticle:hover {
    background-color: steelblue;
    color: whitesmoke;
}/* tipical button hover  */

#createArticle .btn_text {
    display: inline;
}
#createArticle .icon {
    display: none;
}

@media screen and (max-width: 650px) {
    .header {
        height: 3rem;
    }
    img.logoImg {
        height: 2.4rem;
        min-width: 10rem;
    }
    .regSection a {
        padding: 0.1rem 0.3rem;
    }
    #createArticle .btn_text {
        display: none;
    }
    #createArticle .icon {
        display: inline;
        height: 1.5rem;
    }
}
