.inputForm {
    display: flex;
    justify-content: center;
}

.reg {
    display: flex;
    flex-direction: column;
    width: 20rem;
    justify-content: space-between;
}

input {
    padding: 5px 5px 5px 2px;
    -webkit-appearance: none;
    border: 1px solid #333;
    font-family: inherit;
    font-size: 90%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input:invalid{
    border-color: #900;
    background-color: #FDD;
  }
  
input:focus:invalid {
   outline: none;
}
  
input:valid {
    border: 1px solid steelblue;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
}

.welcome {
    outline: none;
    margin-top: 1.5rem;
    border: 1px solid black;
    background: rgba(255, 255, 255, 0.1);
    transition: 0.7s;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}

/* Тут хочу сделать разные цвета кнопки для верных и неверных значений, проблема в том, что я хз как передать на кнопку результат */
/* #submit:invalid:hover{
    background-color: rgba(255, 0, 0, 0.514);
    transition: 0.3s;
} */

.welcome:valid:active{
    background-color: white;
}

@media(any-pointer: coarse){
    .welcome:valid:active{
        color: black;
        background-color: rgb(219, 219, 219);
        transition: 0.4s;
        border-radius: 20px;
    } 
}

/* цвета можно будет подправить */
input[type='button'] {
    border: 1px solid black;
    background-color: #80808073;
}
input[type='button']:active {
    border: 1px solid grey;
    background-color: var(--smoke-color);
}

@media (hover:hover) {

    input:hover{
        border: 1px solid var(--main-hover-color);
    }

    .welcome:hover{
        color: black;
        background-color: rgb(219, 219, 219);
        transition: 0.7s;
        border-radius: 20px;
    }

}

/* errors */

.error {
    width  : 95%;
    padding: 0;
   
    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;
   
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
  
.error.active {
    padding: 0.3em;
}

